{
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "func-names": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "next"
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false
      }
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  }
}
